/* font weights */
$regular: 400;
$medium: 500;

/* colors */
$black: lighten(#000, 13%);
$gray50: lighten(#000, 50%);
$gray60: lighten(#000, 40%);
$gray16: lighten(#000, 84%);

$green: #43A047;
$green50: lighten($green, 50%);

/* elevations */
$e1dp: 0 1px 6px $gray16;
$e2dp: 0 2px 6px $gray16;
$e3dp: 0 3px 6px $gray16;